{{ with $.Param "web3form" }}
{{ if in .for $.Page.Type }}
<div class="web3form-contact">
    <h2 class="web3form-title">コメントを送る</h2>
    <p class="web3form-info">
        お気軽にお送りください。
    </p>
    <form action="https://api.web3forms.com/submit" method="POST" id="web3form-form">
        <input type="hidden" name="access_key" value="{{ .endpoint }}">

        <input type="hidden" name="subject" value="Blog へのコメントがありました">
        <input type="hidden" name="url" value="{{ $.Page.Permalink }}">
        <div class="field">
            <label class="label" for="web3form-name">お名前</label>
            <input type="text" name="name" class="web3form-text" id="web3form-name" autocomplete="name">
        </div>
        <div class="field">
            <label class="label" for="web3form-mail" for="web3form-mail">メールアドレス</label>
            <input type="email" name="email" class="web3form-text" id="web3form-mail"  autocomplete="email" required>
        </div>
        <div class="field">
            <label class="label" for="web3form-body">本文</label>
            <textarea name="message" id="web3form-body" class="web3form-textarea" spellcheck="false" placeholder="本文" required></textarea>
        </div>
        <!-- hCaptcha for Advanced Spam Protection. -->
        <div class="h-captcha" data-captcha="true"></div>
        <!-- SPAM submission detection. Make sure its hidden by default -->
        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">

        <button type="submit" class="web3form-submit" id="web3form-submit">送信</button>
    </form>
</div>

<!-- hCapcha check for web3form -->
<script>
    const form = document.getElementById('web3form-form');
    form.addEventListener('submit', function(e) {
        const hCaptcha = form.querySelector('textarea[name=h-captcha-response]').value;
        if (!hCaptcha) {
            e.preventDefault();
            alert("Please fill out captcha field")
            return
        }
    });
</script>

<!-- for hCaptcha -->
<script src="https://web3forms.com/client/script.js" async defer></script>
{{ end }}
{{ end }}