.recaptcha-policy {
  width: 96%;
  max-width: 720px;
  margin: 1em auto;
  text-align: center;
  font-size: 1em !important;
  color: #7a7a7a !important;
}
  
.grecaptcha-badge {
  visibility: hidden;
}