{{ with $.Param "getform" }}
{{ if and (.endpoint) (.recaptcha_id) (in .for $.Page.Type) }}
<p class="recaptcha-policy">このサイトはreCAPTCHAとGoogleによって保護されています。
	<a href="https://policies.google.com/privacy" target="_blank">プライバシーポリシー</a> および
	<a href="https://policies.google.com/terms" target="_blank">利用規約</a>が適用されます。
</p>
{{ end }}
{{ end }}
{{ if not .Site.IsServer }}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ab579cc8e4bf44458aa73b68a2f99b97"}'></script><!-- End Cloudflare Web Analytics -->
{{ end }}
