{{ $style := resources.Get "sass/_main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- medium zoom -->
<script src="/js/medium-zoom.min.js"></script>

<script>
function domReady () {
  mediumZoom('[data-zoomable]')
}

// Mozilla, Opera, Webkit
if ( document.addEventListener ) {
  document.addEventListener( "DOMContentLoaded", function(){
    document.removeEventListener( "DOMContentLoaded", arguments.callee, false);
    domReady();
  }, false );

// If IE event model is used
} else if ( document.attachEvent ) {
  // ensure firing before onload
  document.attachEvent("onreadystatechange", function(){
    if ( document.readyState === "complete" ) {
      document.detachEvent( "onreadystatechange", arguments.callee );
      domReady();
    }
  });
}
</script>

<!-- Math -->
{{ if .Params.mathjax }}{{ partial "mathjax_support.html" . }}{{ end }}
{{ if .Params.katex }}{{ partial "katex_support.html" . }}{{ end }}

<!-- getform + reCaptcha -->
{{ with $.Param "getform" }}
{{ if and (.endpoint) (in .for $.Page.Type) }}
<script>
$(document).ready(function() {
	document.getElementById('url').value = window.location.href;
})
</script>
{{ with .recaptcha_id }}
<script>
$('form').submit(function() {
	event.preventDefault();
	grecaptcha.ready(function() {
		grecaptcha.execute('{{ . }}', { action: 'homepage' })
		.then(function(token) {
		  document.getElementById('captchaResponse').value = token;
		  $('form').unbind('submit').submit();
		});
	});
});
</script>
<script src="https://www.google.com/recaptcha/api.js?render={{ . }}"></script>
{{ end }}
{{ end }}
{{ end }}
