/*
 * Styles for the web3form comment fields.
 * Used by from layout/partials/custom/content.html
 */
 .web3form-contact {
    .web3form-title {
        font-size: 1.4em;
    }
    .web3form-info {
        font-size: 1em;
        color: var(--color-contrast-medium);
    }
    .field:not(:last-child) {
        margin-bottom: 1rem;
    }
    label, input {
        display: block;
    }
    input {
        background-color: var(--color-bg);
    }
    label:not(:last-child) {
        margin-bottom: .5rem;
    }
}

@mixin web3form-control-common {
    padding: calc(.7em - 1px) calc(.8em - 1px);

    border: 1px solid transparent;
    border-color: var(--color-contrast-low);
    border-radius: 4px;

    &:active, &:focus {
        border-color: #3273dc;
        box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
        outline: none;
    }
}

.web3form-text {
    @include web3form-control-common;

    width: 100%;
    max-width: 100%;

    color: var(--color-contrast-high);
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);

    &::placeholder {
        opacity: .5;
    }
}

.web3form-textarea {
    @extend .web3form-text;
    background-color: var(--color-bg);

    &:not([rows]) {
        max-height: 40em;
        min-height: 8em;
    }
}

.web3form-submit {
    @include web3form-control-common;

    color: var(--color-contrast-high);
    background-color: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.5);
    border-color: transparent;
}