<!-- getform + reCaptcha -->
{{ with $.Param "getform" }}
{{ if and (.endpoint) (in .for $.Page.Type) }}
<script>
$(document).ready(function() {
	document.getElementById('url').value = window.location.href;
})
</script>
{{ with .recaptcha_id }}
<script>
$('form').submit(function() {
	event.preventDefault();
	grecaptcha.ready(function() {
		grecaptcha.execute('{{ . }}', { action: 'homepage' })
		.then(function(token) {
		  document.getElementById('captchaResponse').value = token;
		  $('form').unbind('submit').submit();
		});
	});
});
</script>
<script src="https://www.google.com/recaptcha/api.js?render={{ . }}"></script>
{{ end }}
{{ end }}
{{ end }}
