{{- $path := .Get "path" -}}
{{- $style := .Get "style" -}}
{{- $caption := .Get "caption" -}}
{{- $caption_on_image := .Get "caption_on_image" -}}
<div style="position: relative; margin-bottom: 2em;">
    <img src="/assets/{{ $path }}" data-zoomable="true"
        {{- if $style -}} style="{{ $style }}" {{- end -}}
        {{- if $caption -}} alt="{{ $caption }}" {{- end -}} />
    {{- if and ($caption) ($caption_on_image) -}}
    <span class="medium-zoom-caption">{{ $caption }}</span>
    {{- end -}}
</div>